
    <header class = "main-header">
      <nav class="navbar navbar-default fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class = "navbar-brand" routerLink="">
                <img src="http://pngimg.com/uploads/youtube/youtube_PNG12.png" alt="Live Sub Count" style="height: 35px; width: 35px;">
                <span>Live Sub Count</span>
              </a>
          </div>
          <div class="collapse show">
            <ul class="nav navbar-nav navbar-expand-md">
              <li routerLinkActive="active" class="nav-item" style="padding-right: 20px"><a class="nav-link" routerLink="/compare">Compare</a></li>
              <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/pewdiepie-vs-tseries">Pewdiepie Vs T-Series</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
<router-outlet></router-outlet>

